<html>
<head>
  <script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',3744336,document.body||document.documentElement)</script>
  <script data-cfasync="false" async type="text/javascript" src="//bulletprofitpop.com/display/items.php?22976&5287&0&0&4&9"></script>
<script src="https://auteboon.net/pfe/current/tag.min.js?z=3744330" data-cfasync="false" async></script>
  {% assign title = '' %}
    {% if page.layout == 'author' %}
        {% assign title = page.display_name %}
    {% elsif page.title %}
        {% assign title = page.title | append: " | " | append: site.name %}
    {% else %}
        {% assign title = site.title %}
    {% endif %}

    {% assign image = '' %}
    {% if page.image %}
        {% assign image = page.image %}
    {% else %}
        {% assign image = "{{ page.poster }}" %}
    {% endif %}

    {% assign description = '' %}
    {% if page.description %}
        {% assign description = page.description | strip_html | strip_newlines | truncate: 160 %}
    {% else %}
        {% assign description = site.description %}
    {% endif %}

    {% assign url = '' %}
    {% if paginator.page_trail %}
        {% assign url = paginator.first_page_path | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% else %}
        {% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% endif %}
  
<meta name="language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ page.title }} movie Download tamilrockers hd {{ page.title }} HD Movie Download {{ page.title }} Movie HD Download {{ page.title }} 400 mb link Download Moviesda.in {{ page.title }} Full Movie 1080p HD & 720 HD TamilRockers TamilGun Download Full HD Movie isaimini Download {{ page.title }} Mp4 HD Movie Download {{ page.title }} Movies Collection isaidub Full Movie Download {{ page.title }} Movies Collection Full Movie Download {{ page.title }} Movies Collection Movie Moviesda Download isaimini" />

  
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta property="twitter:image:src" content="{{ page.poster }}">
    {% if site.twitter_username %}
        <meta name="twitter:site" content="@{{ site.twitter_username }}">
    {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="{{ page.poster }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
    
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icons/apple-touch-icon-152x152.png" />

    <!-- Windows 8 Tile Icons -->
    <meta name="application-name" content="{{ site.name }}">
    <meta name="msapplication-TileColor" content="#141414">
    <meta name="msapplication-square70x70logo" content="smalltile.png" />
    <meta name="msapplication-square150x150logo" content="mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="widetile.png" />
    <meta name="msapplication-square310x310logo" content="largetile.png" />
    
    <!-- Android Lolipop Theme Color -->
    <meta name="theme-color" content="#141414">
    <link rel="canonical" href="{{ url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/isai.css' | prepend: site.baseurl }}">
  </head>
<body>
  <script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',3744336,document.body||document.documentElement)</script>
<div class="line">
        <font size="4px">{{ site.name }}</font><br/><small>Name Of Quality</small></div> 
  {% include sbox.html %}
  <div class="Adz" align="center">
  <!-- Bulletprofit - Ad Display Code -->
<div id="adm-container-30354"></div><script data-cfasync="false" async type="text/javascript" src="//bulletprofitads.com/display/items.php?30354&5287&336&280&4&0&38"></script>
<!-- Bulletprofit - Ad Display Code -->
  </div>
   <div class="line">Movie Information</div>

  <div class="isai" align="left">
    <div class="pr">
    <img style="margin-left: 7px;" typeof="foaf:Image" src="{{ page.poster }}" width="30%" height="auto" alt="{{ page.seotitle }}" title="{{ page.seotitle }}" class="tbl"/>

     <table cellspacing="5">

<tbody><tr><td><b>Name</b></td><td><b>:</b></td><td>{{ page.seotitle }}</td></tr>

<tr><td><b>Size</b></td><td><b>:</b></td><td>{{ page.size }}</td></tr>

<tr><td><b>Year</b></td><td><b>:</b></td><td>{{ page.year }}</td></tr>

<tr><td><b>Updated on</b></td><td><b>:</b></td><td>{{ page.date }}</td></tr>

  
</tbody></table></div></div>
 <div class="line">Download</div>
  
<div class="f" title="{{ page.title }}"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABq0lEQVQ4jcWTu4oUQRSGv+rtbVqZGRYU0UUNTJzdXEXYTEMTn8DEVxADAzHcJ9BMMDQUzEQMfAAvmaLBiuiul+2e23ZXV53foMeZNjFZwUqqKM7/nf+cU+UkcZiVHEr9LwApwLunF17ng81N57o8UY8/7MRQXAaqP1QOgNn5a29DCuCUDM9sPUydc6BWjHOE6vu53Vf3PnW7tJINTLHZm3x5fgt4nAIQVGE+q7/eJ/oVSAY41ydfv8L6xe0MCTCQAcIlvZPvn2zdXQIal8g80WfIhB3s0Ex3mey9YDU/BWrAPFIAAv3h7QzZ2UUPcMotHOBnID+lGY/oD2+QH9uYF/zbgVoH6RrEJF0CmoT0yAnWNm4uAoVh/jOheIZiiUKJwgjFCfnpO1CLDkCmWGGzN21wHKNQYM0+iiWEYn4/QnEKqqHpjJEaZAFrvrWZYolCMT/vzzOPFgApQN0FeJkjovBzLiyWtmOJwngptqotM3QA8laE2Y+jzSTrYf1EWgXrg46jWAMeJe3ukkisKuTNLwFVvf3xwfVLiKs4en99uwLcS4/pUTvA//0bfwGJsxx8e5XIkwAAAABJRU5ErkJggg==" alt="{{ page.title }}"> 
<a href="{{ page.link1 }}">Download Server 1</a></div>
  
  <div class="f" title="{{ page.title }}"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABq0lEQVQ4jcWTu4oUQRSGv+rtbVqZGRYU0UUNTJzdXEXYTEMTn8DEVxADAzHcJ9BMMDQUzEQMfAAvmaLBiuiul+2e23ZXV53foMeZNjFZwUqqKM7/nf+cU+UkcZiVHEr9LwApwLunF17ng81N57o8UY8/7MRQXAaqP1QOgNn5a29DCuCUDM9sPUydc6BWjHOE6vu53Vf3PnW7tJINTLHZm3x5fgt4nAIQVGE+q7/eJ/oVSAY41ydfv8L6xe0MCTCQAcIlvZPvn2zdXQIal8g80WfIhB3s0Ex3mey9YDU/BWrAPFIAAv3h7QzZ2UUPcMotHOBnID+lGY/oD2+QH9uYF/zbgVoH6RrEJF0CmoT0yAnWNm4uAoVh/jOheIZiiUKJwgjFCfnpO1CLDkCmWGGzN21wHKNQYM0+iiWEYn4/QnEKqqHpjJEaZAFrvrWZYolCMT/vzzOPFgApQN0FeJkjovBzLiyWtmOJwngptqotM3QA8laE2Y+jzSTrYf1EWgXrg46jWAMeJe3ukkisKuTNLwFVvf3xwfVLiKs4en99uwLcS4/pUTvA//0bfwGJsxx8e5XIkwAAAABJRU5ErkJggg==" alt="{{ page.title }}"> 
<a href="{{ page.link2 }}">Download Server 2</a></div>
  
    
  <div class="line">Tags</div>
  
  <div class="Tag">
    <font color="green">
     <ul>
      <li>{{ page.seotitle }} Movie Download isaimini</li>
      <li>{{ page.seotitle }} Movie Download tamilrockers</li>
       <li>{{ page.seotitle }} Movie Download tamilgun</li>
       <li>{{ page.seotitle }} Movie Download tamilmv</li>
       <li>{{ page.seotitle }} Movie Download isaiminiweb</li>
       <li>{{ page.seotitle }} Movie Download isaiminida</li>
       <li>{{ page.seotitle }} Movie Download isaiminipa</li>
       <li>{{ page.seotitle }} Movie Download tamildbox</li>
       <li>{{ page.seotitle }} Movie Download moviesdaweb</li>
       <li>{{ page.seotitle }} Movie Download moviesda</li>
       <li>{{ page.seotitle }} Movie Download marina rockers</li>
       <li>{{ page.seotitle }} Movie Download sri rockers</li>
       <li>{{ page.seotitle }} Movie Download kuttymovies</li>
       <li>{{ page.seotitle }} Movie Download cooltamil</li>
       <li>{{ page.seotitle }} Movie Download Youtube</li>
       <li>{{ page.seotitle }} Movie Download Disney+ Hotstar</li>
       <li>{{ page.seotitle }} Movie Download Netflix</li>
       <li>{{ page.seotitle }} Movie Download Amazon Prime Video</li>
       <li>{{ page.seotitle }} Movie Download ZEE5</li>
       <li>{{ page.seotitle }} Movie Download ALT Balaji</li>
       <li>{{ page.seotitle }} Movie Download MX Player</li>
       <li>{{ page.seotitle }} Movie Download Hungama</li>
       <li>{{ page.seotitle }} Movie Download BIGFlix</li>
       <li>{{ page.seotitle }} Movie Download TnMoviez</li>
       <li>{{ page.seotitle }} Movie Download isaidub</li>
       <li>{{ page.seotitle }} Movie Download orutamil</li>
       <li>{{ page.seotitle }} Movie Download in Tamil</li>
       <li>{{ page.seotitle }} Movie Download in Hindi</li>
       <li>{{ page.seotitle }} Movie Download in Telugu</li>
       <li>{{ page.seotitle }} Movie Download in Malayalam</li>
       <li>{{ page.seotitle }} Movie Download in Kannada</li>
       <li>{{ page.seotitle }} Movie Download in English</li>
       <li>{{ page.seotitle }} Movie Download telegram</li>
       <li>{{ page.seotitle }} Movie Download telegram link</li>
       <li>{{ page.seotitle }} Movie Download isaiminimob</li>
       <li>{{ page.seotitle }} Movie Download tamilblasters</li>
       <li>{{ page.seotitle }} Movie Download tamilplay</li>
       <li>{{ page.seotitle }} Movie Download jiorockers</li>
       <li>{{ page.seotitle }} Movie Download movierulz</li>
       <li>{{ page.seotitle }} Movie Download kotha movies</li>
      </ul>
    </font></div>
  {% include bottom.html %}
  <div class="line"> © {{ site.name }}<br>All Right
Reserved</div>
  <script type='text/javascript'>
//<![CDATA[
var setting = {
exceptionurl : "google.com,twitter.com",
path : "#?o="
};
//]]>
</script>
<script src='https://raw.githack.com/mghifariarfan/linkpunyaku/master/auto.js'></script>
<script src='https://www.blogger.com/feeds/8610759527942802422/posts/default?alt=json-in-script&max-results=150&callback=showurl'></script>
			
</body>
</html>
